  <main>
        <div class="title">
            <h1>The Bucktest</h1>
            <h2>Wat heeft jouw voorkeur?</h2>
        </div>
        <form class="buckettest" action="index.html" method="get">
            <div class="omgeving">

                <h4>Omgeving</h4>
                <div class="formcontainer">
                    <div class="forminput">
                      <div class="input2images"> 
                        <input type="radio" name="Vacation" value="beach" id="beach1">
                        <label for="beach1"><img src="images/beachsun.png"></label>
                        <input type="radio" name="Vacation" value="winter" id="winter2">
                        <label class="labelwinter2" for="winter2"><img class="winterimg2" src="images/winter.png"></label>
                        <input type="radio" name="Vacation" value="jungle" id="jungle3">
                        <label for="jungle3"><img src="images/jungle.png"></label>
                    </div>
                    </div>
                </div>
            </div>
            <div class="liever">

                <h4>Wat doe je liever</h4>
                <div class="formcontainer">
                    <div class="forminput">
                        <div class="input2images">
                        <img src="images/beachsun.png">

                        <img src="images/jungle.png">
                        </div>
                        <div class="slidecontainer">
                            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                        </div>
                    </div>
                </div>
            </div>

            <br>
  <div class="divsubmit">         
            <input id="submitbutton" type="submit" value="Verstuur">
        </div>
        </form>
    </main>