{{!-- satus validation --}}
<main class="loginmain">
<h1>Login</h1>
{{# if errors }}
        <section class="errors">
           <p> Ongeldige inloggevens</p>
        </section>
    {{/if}}
<form class="login" method="post">
    <img class="iconbucket" src="/images/iconbuckettest.png">
    <div class="input">
        <label for="email">E-Mail</label>
        <input class="formcenter"  type="text" id="email" name="email">
    </div>

    <div class="input">
        <label for="password">Password</label>
        <input  class="formcenter" type="password" id="password" name="password">

        <button type="submit">Login</button>
        </div>
</form>
<br>
<div class="newregisterdiv">
<a class="newregister" href="/register"><button>Nieuw? Registreer hier</button></a>
</div>
</main>