{{!-- satus validation --}}

<h1>Login</h1>

<form class="login" method="post">
    <img class="iconbucket" src="/images/iconbuckettest.png">
    <div class="input">
        <label for="email">E-Mail</label>
        <input class="formcenter"  type="text" id="email" name="email">
    </div>

    <div class="input">
        <label for="password">Password</label>
        <input  class="formcenter" type="password" id="password" name="password">

        <button type="submit">Login</button>
        </div>
</form>
<br>
<div class="newregisterdiv">
<a class="newregister" href="/register"><button>New? Register here</button></a>
</div>