{{!-- satus validation --}}

<h1>Login</h1>

<form method="post">
    <div class="input">
        <label for="email">E-Mail</label>
        <input type="text" id="email" name="email">
    </div>

    <div class="input">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">

        <button type="submit">Login</button>
</form>
<br>
<a href="/register">New? Register here</a>