

        <div class="hamburgernav hamburgernavwithoutjava">
            <div class="hamburgerdiv">
                <ul class="hamburgerul">
                    <li><img class="iconbucket" src="/images/iconbuckettest.png"></li>
                    <li><a method="get" href="/">Home</a></li>
                    <li><a>Jouw Matches</a></li>
                    <li><a href="buckettest">Buckettest</a></li>
                    <li><a>Bucketlist</a></li>
                    <li><a>Instellingen</a></li>    
                    <li><a href="logout">Log-out</a></li>
            

            </ul>
        </div>