  <main>
        <div class="title">
            <h1>The Bucktest</h1>
            <h2>Wat heeft jouw voorkeur?</h2>
        </div>
        <form class="buckettest" method="post">
           
            <div class="omgeving">

                <h4>Omgeving</h4>
                <div class="formcontainer">
                    <div class="forminput">
                      <div class="input2images"> 
                        <input type="radio" name="vacation" value="3" id="beach1" hidden>
                        <label for="beach1"><img src="images/beachsun.png"></label>
                        <input type="radio" name="vacation" value="6" id="winter2" hidden>
                        <label class="labelwinter2" for="winter2"><img class="winterimg2" src="images/winter.png"></label>
                        <input type="radio" name="vacation" value="9" id="jungle3" hidden>
                        <label for="jungle3"><img src="images/jungle.png"></label>
                        
                    </div>
                    </div>
                </div>
            </div> 
           
            <div class="liever">


                <h4>Wat doe je liever</h4>
                <div class="formcontainer">
                    <div class="forminput">
                        <div class="input2images">
                        <img src="images/borrelen.jpg">

                        <img src="images/parachute.jpg">
                        </div>
                        <div class="slidecontainer">
                            {{!-- https://www.w3schools.com/howto/howto_js_rangeslider.asp - slider bron--}}
                            <input type="range" name="preferences"min="0" max="10" value="5" class="slider" id="myRange"> 
                       
                        </div>
                    </div>
                </div>
            </div>
           
  <div class="omgeving">

                <h4>Eerste date</h4>
                <div class="formcontainer">
                    <div class="forminput">
                      <div class="input2images"> 
                        <input type="radio" name="date" value="3" id="uiteten1" hidden>
                        <label for="uiteten1"><img src="images/uiteten.jpg"></label>
                        <input type="radio" name="date" value="6" id="karaoke2"hidden>
                        <label class="labelwinter" for="karaoke2"><img class="winterimg2" src="images/karaoke.jpg"></label>
                        <input type="radio" name="date" value="9" id="surfen3" hidden>
                        <label for="surfen3"><img src="images/surfen.jpg"></label>
                   
                    </div>
                    </div>
                </div>
            </div>
            <br>
  <div class="divsubmit">         
            <input id="submitbutton" type="submit" value="Verstuur">
        </div>
       
   
        </form>
      
    </main>